
<div class="deploy-global-job-list">
  <div class="list-area">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="l10n">Code</th>
          <th class="l10n">Description</th>
          <th class="l10n">Launch</th>
          <th class="l10n">Worker</th>
          <th class="l10n">Dependency injection</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>