
<div class="deploy-global-module-title-list">
  <div class="list-area">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="l10n">Type</th>
          <th class="l10n">Description</th>
          <th class="l10n">Order number</th>
          <th class="l10n">Skip modules</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>