
<div class="deploy-global-top-menu-list">
  <div class="list-area">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="l10n">System</th>
          <th class="l10n">Name</th>
          <th class="l10n">ID</th>
          <th class="l10n">URL</th>
          <th class="l10n">Caption</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>