
<div class="deploy-module-list">
  <div class="list-area">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th class="l10n">Name</th>
          <th class="l10n">Globals</th>
          <th class="l10n">Import</th>
          <th class="l10n">Statics</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>