
<div class="studio-changelog-container">

  <div class="changelog-area">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="l10n">Date</th>
            <th class="l10n">Action</th>
            <th class="l10n">Type</th>
            <th class="l10n">Name</th>
            <th class="l10n">Old value</th>
            <th class="l10n">New value</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>

</div>