
<div class="studio-print-container">

  <div class="studio-print-view studio-print-panel">

    <div class="row">

      <div class="col-sm-6">
        <div class="studio-item-print-target studio-print-target">
          <div class="studio-print-target-head l10n">Object print views</div>
          <div class="studio-print-target-body"></div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="studio-list-print-target studio-print-target">
          <div class="studio-print-target-head l10n">List print views</div>
          <div class="studio-print-target-body"></div>
        </div>
      </div>
    </div>

  </div>

</div>