
<div class="studio-list-container">

  <div class="studio-list-target">
    <div class="table-view-container">
      <div class="table-view">

      </div>
    </div>
  </div>

  <div class="studio-list-source">

    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
        <a href="#list-class-attr-list" data-toggle="tab" class="l10n">Unused class attributes</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="list-class-attr-list">

        <div class="class-attr-list">
          <div class="view-class-attr" data-id="1540360773173-84134651">234234</div>
          <div class="view-class-attr" data-id="1540360773173-53605694">wertrwet</div>
          <div class="view-class-attr" data-id="1540360773174-20923632">678</div>
          <div class="view-class-attr" data-id="1540360773173-84134651">234234</div>
          <div class="view-class-attr" data-id="1540360773173-53605694">wertrwet</div>
          <div class="view-class-attr" data-id="1540360773174-20923632">678</div>
          <div class="view-class-attr" data-id="1540360773173-84134651">234234</div>
          <div class="view-class-attr" data-id="1540360773173-53605694">wertrwet</div>
          <div class="view-class-attr" data-id="1540360773174-20923632">678</div>
          <div class="view-class-attr" data-id="1540360773173-84134651">234234</div>
          <div class="view-class-attr" data-id="1540360773173-53605694">wertrwet</div>
          <div class="view-class-attr" data-id="1540360773174-20923632">678</div>
          <div class="view-class-attr" data-id="1540360773173-84134651">234234</div>
          <div class="view-class-attr" data-id="1540360773173-53605694">wertrwet</div>
          <div class="view-class-attr" data-id="1540360773174-20923632">678</div>
          <div class="view-class-attr" data-id="1540360773173-84134651">234234</div>
          <div class="view-class-attr" data-id="1540360773173-53605694">wertrwet</div>
          <div class="view-class-attr" data-id="1540360773174-20923632">678</div>
        </div>

      </div>
    </div>
  </div>

</div>