
<div class="studio-tabs clearfix">
  <a class="studio-logo" href="//iondv.com" title="IONDV. Framework"></a>
  <div class="tab-list clearfix">
  </div>
  <div class="tab-add">
    <span class="fa fa-plus"></span>
  </div>
  <% if (typeof externalAppTracker !== 'undefined') { %>
  <div class="tab-import" title="Import external application">
    <span class="text-info fa fa-cloud-download"></span>
  </div>
  <% } %>
  <div class="tab-xls" title="Create from Excel book" onclick="document.getElementById('xlsFile').click()">
    <input type="file" id="xlsFile" style="display: none;"/>
    <span class="text-info fa fa-file-excel-o"></span>
  </div>
</div>