
<div class="studio-task-container">

  <div class="task-area">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="l10n" data-id="name">Code</th>
            <th class="l10n" data-id="title">Name</th>
            <th class="l10n" data-id="active">Active task</th>
            <th class="l10n" data-id="interval">Execution period</th>
            <th class="l10n" data-id="startDate">Start date</th>
            <th class="l10n" data-id="endDate">End date</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>

</div>