<% const assetUrl = process.env.NODE_ENV !== 'production' ? 'http://localhost:8050/assets' : '/react/assets'; %>
<!DOCTYPE html>
  <html>
  <head>
      <title>Studio</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
      <base id="baseUrl" href="<%= baseUrl %>">
      <link rel="stylesheet" href="<%=assetUrl%>/main.css">
  </head>
  <body>
      <div id="studio"></div>
      <script type="application/javascript" src="<%=assetUrl%>/bundle.js"></script>
      <%- pageEndContent %>
  </body>
</html>